body {
  background-color: rgb(240, 240, 240);
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'PT Serif', serif;
}

a {
  text-decoration: none;
  color: #34699a;
}

a:hover {
  text-decoration: none;
  color: #34699a;
  opacity: 0.7;
}

/*custom classes and ids */
.container {
  margin: 30px auto;
  width: 700px;
}

.card {
  background-color: rgb(255,255,255);
  text-align: center;
  padding: 25px 25px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 1px 14px 49px 0px rgba(0,0,0,0.23);
}

.btn-blue {
  background-color: #34699a;
  color: white;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: "Roboto";
  font-size: 14px;
}

.btn-blue:hover {
  text-decoration: none;
  color: white;
}

.list-inline {
  padding: 0;
}

.list-inline li {
  display: inline-block;
  margin: 30px;
  font-family: 'PT Serif', serif;
}

.list-inline h2 {
  text-align: center;
}

#intro p {
  margin-bottom: 25px;
}

.movie-table td {
  text-align: left;
}

#logo {
  border-radius: 50%;
  border: 5px solid #34699a;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

.sidebar-items {
  display: inline;
}

.sidebar-items a {
  display: block;
  margin: 20px 0px 20px 0px;
  padding: 5px;
  color: white;
  font-size: 25px;
}

#page-content {
  margin-left: 100px;
}
/* adding responsiveness */

@media (max-width: 1000px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 500px;
  }

  #sidebar {
    display: none;
  }

  #page-content {
  margin: 0;
}

}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }

  .image-circle {
    width: 100px;
  }

  #sidebar {
    display: none;
  }

  #page-content {
  margin: 0;
}
}


